body{
    width: 1440px;
}
.header{
    padding: 20px 100px 24px 82px;
    background-color: #131313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        font-family: "FuturaDemiC", sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #E3B873;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
    }
    &__navigation{

        &-link{   
            font-family: "FuturaBookC", sans-serif;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            text-transform: uppercase;
            text-decoration: none;
            &:nth-child(even){
                margin-right: 47px;
                margin-left: 47px;
            }
            &:nth-child(6){
                margin-right: 0;
            }
        }
    }
    &__tel{
        font-family: "FuturaDemiC", sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #E3B873;
        &:hover{
            color: #fff;
        }
        &:active{
            color:#E3B873;
        }
    }
    &__request{
        font-family: "FuturaDemiC", sans-serif;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 161px;
        height: 37px;
        background: #E3B873;
        outline: 0;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        &:hover{
            background-color: #fff;
            color:  #E3B873;
        }
        &:active{
            background-color:#E3B873;
            color: #fff;
        }
    }
}